<div style="margin: 0 auto; display: block; width: 100%;">
	<h2>Provision and Deploy to the Cloud</h2>
	<p>
		Before publishing your app to Teams App Catalog, you may want to provision and deploy your
		app's resources to the cloud to make sure your app will be running smoothly!
	</p>
	<p>
		Select the <strong>Project > Teams Toolkit > Provision in the Cloud</strong> menu item to provision your app's resources.
		Next, select the <strong>Project > Teams Toolkit > Deploy to the Cloud</strong> menu item to deploy your app to Azure.
	</p>
</div>

@code {

}
