<div style="margin: 0 auto; display: block; width: 100%;">
	<h2>Publish to Teams</h2>
	<p>
		Your app's resources and infrastructure are deployed and ready? Publish and register your
		app to Teams app catalog to share your app with others in your organization!
	</p>
	<p>
		For more information, see the <a href="https://aka.ms/teams-toolkit-distribute" target="_blank" rel="noreferrer">docs</a>.
	</p>
</div>

@code {

}
